@model Commpay.Models.Usuario

@{
    ViewData["Title"] = "Novo usuário";
}

<h1>Cadastro de novo usuário</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>



@if (ViewBag.CpfExiste != null)
{
        <div class="alert alert-danger">@ViewBag.CpfExiste</div>
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
