@model Commpay.Models.Expedidor

@{
    ViewData["Title"] = "Novo usuário";
}

<h1>Cadastro de novo usuário</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cpf" class="control-label"></label>
                <input asp-for="Cpf" class="form-control" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>

            <div class="form-group mt-3 mb-2">
                <select class="form-select" asp-for="Cargo">
                    <option selected>Selecione o Cargo</option>
                    <option value="Vendedor">Vendedor</option>
                    <option value="Financeiro">Financeiro</option>
                    <option value="Expedidor">Expedidor</option>
                </select>
            </div>

            <div class="form-group">
                <a type="button" asp-action="Index" class="btn btn-outline-secondary">
                    <i class="bi bi-caret-left"></i> Voltar
                </a>
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-check2-square"></i>
                    Confirmar
                </button>
            </div>
    </div>


</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
