@model IEnumerable<Commpay.Models.Venda>
@using Commpay.Models.Enums

@{
    ViewData["Title"] = "CommPay | Comissões";

    decimal somaComissoes = Model.Sum(x => x.Valor_Total * 0.05m);
}

<div class="bubble-banner mb-5">
    <div class="container">
        <div>
            <h1>Você deve pagar</h1>
        </div>
        <div>
            <h1>@somaComissoes.ToString("C", new System.Globalization.CultureInfo("pt-BR"))</h1>
        </div>
        <div class="text-muted">
            Em comissões aos vendedores
        </div>
    </div>
</div>

<div class="container">
    <main role="main" class="pb-3">
        <table class="table table-striped">
            <thead>
                <tr class="dark-row">
                    <td>Vendedor</td>
                    <td class="text-center">Valor total da comissão</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.GroupBy(x => x.Vendedor))
                {
                    <tr>
                        <td>@item.Key</td>
                        <td class="text-center">@item.Sum(x => x.Valor_Total).ToString("C", new System.Globalization.CultureInfo("pt-BR"))</td>
                    </tr>
                }
            </tbody>
        </table>
    </main>
</div>
