@model IEnumerable<Commpay.Models.Venda>

@{
    ViewData["Title"] = "Relatórios";
}

<div class="bubble-banner mb-5">
    <div class="container">
        <div>
            <h1>Precisando dos números?</h1>
        </div>
        <div>
            <h1>Gere seus relatórios aqui</h1>
        </div>
        <div class="text-muted">
            Seu relatório vai ser salvo até a data @DateTime.Now.ToString("dd/MM/yyyy")
        </div>
    </div>
</div>

<div class="container">

<div class="row justify-content-between">

        @{
            DateTime dataAtual = DateTime.Now;
            DateTime dataFutura = dataAtual.AddDays(15);
            string nomeMes = dataFutura.ToString("MMM").ToLower();
            string mesFormatado = System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(nomeMes);
            string dataFormatada = mesFormatado + " " + dataFutura.ToString("dd yy").ToUpper();
        }


       


        <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-body text-secondary">
                <h5 class="card-title"><i class="bi bi-cash-coin"></i></h5>
                <h3 class="card-title text-primary">$1000,00</h3>
                <div class="text-muted">
                    Total em vendas
                </div>
            </div>
        </div>
        <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-body text-secondary">
                <h5 class="card-title"><i class="bi bi-people-fill"></i></h5>
                <h3 class="card-title text-primary">10 Vendedores</h3>
                <div class="text-muted">
                    Ativo(s) na plataforma
                </div>
            </div>
        </div>
        <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-body text-secondary">
                <h5 class="card-title"><i class="bi bi-calendar-plus-fill"></i></i></h5>
                <h3 class="card-title text-primary">Jul 29 2023</h3>
                <div class="text-muted">
                    Data da ultima venda
                </div>
            </div>
        </div>
        <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-body text-secondary">
                <h5 class="card-title"><i class="bi bi-calendar2-date-fill"></i></h5>
                <h3 class="card-title text-primary">@dataFormatada</h3>
                <div class="text-muted">
                    Data de pagamento
                </div>
            </div>
        </div>
        

</div>
<div class="row">
    <div class="card border-secondary mb-3">
        <div class="card-body text-secondary">
            <h5 class="card-title">Secondary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>

</div>