@model IEnumerable<Commpay.Models.Venda>
@using Commpay.Models

@{
    ViewData["Title"] = "Relatórios";
}

<div class="bubble-banner mb-5">
    <div class="container">
        <div>
            <h1>Precisando dos números?</h1>
        </div>
        <div>
            <h1>Gere seus relatórios aqui</h1>
        </div>
        <div class="text-muted">
            Seu relatório vai ser salvo até a data @DateTime.Now.ToString("dd/MM/yyyy")
        </div>
    </div>
</div>

<div class="container">

<div class="row justify-content-between">

        @{
            DateTime dataAtual = DateTime.Now;
            DateTime dataFutura = dataAtual.AddDays(15);
            string nomeMes = dataFutura.ToString("MMM").ToLower();
            string mesFormatado = System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(nomeMes);
            string dataFormatada = mesFormatado + " " + dataFutura.ToString("dd yy").ToUpper();
            float somaVendas = 0f;            
        }      


        <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-body text-secondary">
                <h5 class="card-title"><i class="bi bi-cash-coin"></i></h5>
                <h3 class="card-title text-primary">
                    @foreach(var item in Model)
                    {
                        float totalVendas = item.Valor_Total;
                        somaVendas += totalVendas;
                    } 
                    @somaVendas.ToString("C", new System.Globalization.CultureInfo("pt-BR"))
                </h3>
                <div class="text-muted">
                    Total em vendas
                </div>
            </div>
        </div>
        <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-body text-secondary">
                <h5 class="card-title"><i class="bi bi-people-fill"></i></h5>
                <h3 class="card-title text-primary">
                    @{
                        var vendedoresUnicos = new HashSet<string>();
                        foreach (var item in Model)
                        {
                            if (item.Vendedor != null)
                            {
                                vendedoresUnicos.Add(item.Vendedor);
                            }
                        }
                        int contadorVendedores = vendedoresUnicos.Count;
                        @contadorVendedores 
                    } Vendedor(es)
                </h3>
                <div class="text-muted">
                    Ativo(s) na plataforma
                </div>
            </div>
        </div>
        <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-body text-secondary">
                <h5 class="card-title"><i class="bi bi-calendar-plus-fill"></i></i></h5>
                <h3 class="card-title text-primary">
                    
                    @foreach(var item in Model)
                    {
                        DateTime dataUltimaVenda = item.Data_Compra;
                        dataFormatada = dataUltimaVenda.ToString("dd/MM/yyyy");
                    } @dataFormatada                   
                    
                </h3>
                <div class="text-muted">
                    Data da ultima venda
                </div>
            </div>
        </div>
        <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-body text-secondary">
                <h5 class="card-title"><i class="bi bi-calendar2-date-fill"></i></h5>
                <h3 class="card-title text-primary">@dataFormatada</h3>
                <div class="text-muted">
                    Data de pagamento
                </div>
            </div>
        </div>
        

</div>
<div class="row">
    <div class="card border-secondary mb-3">
        <div class="card-body text-secondary">
            <h5 class="card-title">Secondary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>

</div>