@model Commpay.Models.Venda

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Venda</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Vendedor" class="control-label"></label>
                <input asp-for="Vendedor" class="form-control" />
                <span asp-validation-for="Vendedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data_Compra" class="control-label"></label>
                <input asp-for="Data_Compra" class="form-control" />
                <span asp-validation-for="Data_Compra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor_Total" class="control-label"></label>
                <input asp-for="Valor_Total" class="form-control" />
                <span asp-validation-for="Valor_Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entregador" class="control-label"></label>
                <input asp-for="Entregador" class="form-control" />
                <span asp-validation-for="Entregador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data_Entrega" class="control-label"></label>
                <input asp-for="Data_Entrega" class="form-control" />
                <span asp-validation-for="Data_Entrega" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
