/* Fonte do site
----------------------------------*/
@font-face {
    font-family:'Poppins Medium';
    src: url(../fontes/Poppins-Medium.woff);
}
body{
    font-family: "Poppins Medium";
}

/* Estilo do cabeçalho 
----------------------------------*/
header{
    background-color: #0E2A50;
    padding: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
header a{
    width: 132px;
    height: 69px;
    display: block;
    text-indent: -9999px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../imagem/logob.png) no-repeat;
}
/* Estilo do cabeçalho 
----------------------------------*/
#login-container{
    margin: 0 auto;
    margin-top: 100px;
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
/* Ícone de usuário
----------------------------------*/
#user-icon{
    width: 132px;
    height: 160px;
    display: block;
    background: url(../imagem/usuario-do-circulo.png) no-repeat;
}
#login-container #user-icon {
    margin: 0 auto;
}
/* Campos ID, Senha e submit 
----------------------------------*/
input[type="text"], input[type="password"]{
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
input[type="submit"]{
    background-color: #0E2A50;
    color: #fff;
    display: block;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-left: 76px;
}

/* Cabeçalho 
----------------------------------*/
footer {
    background-color: #0E2A50;
    color: #A6A6A6;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
}
.logo-container{
    display: flex;
    align-items: center;    
    float: left;
}
.logo-container img {
    margin-left: 200px;
    padding: 10px;
    height: auto;
}  
.logo-container p {
    font-size: 14px;
}  
.redes-sociais-container {
    margin-left: 52px;
    padding: 38px;
    
}
#linkedin, #instagram {
    display: inline-block;
    width: 30px;
    height: 30px;
}  
#linkedin{
    background: url(../imagem/linkedin.png) no-repeat;
    margin-left: 15px;
}
#instagram{
    background: url(../imagem/instagram.png) no-repeat;
}