html {
  font-size: 14px;
}

.fs-6{
    font-size:5px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.com-footer {
    background-color: #0E2A50;
    text-align: center;
    
}