body {
    font-family: 'Poppins', sans-serif;
}

.label-title{
    font-weight: 300;
    font-size: 14px;
}

@media screen and (max-width: 1020px) {

    .com-footer {
        visibility: hidden;
    }

        .com-footer a img{
            visibility:hidden;
        }

        .com-footer .navbar-brand img {
        }

        .com-footer .com-footer-text {
            visibility: hidden;
        }
}


.fs-6{
    font-size: 5px;
}

.com-nav {
    background-color: #0E2A50;
    padding: 20px;
}



.com-footer {
    background-color: #0E2A50;
}


/* BOTAO PRIMARIO*/
.com-btn-primary {
    color: white;
    background-color: #0E2A50;
}

    .com-btn-primary:hover {
        background-color: #1ADCFF;
    }

/* BOTAO DE REMOVER */
.com-btn-remove {
    color: whitesmoke;
    background-color: rgb(206, 4, 4);
}

    .com-btn-remove:hover {
        color: whitesmoke;
        background-color: rgb(143, 0, 0);
    }


/* BOTAO DE NAVEGAÇÃO */

.com-btn-select {
    border-radius: 100px;
    border: 2px solid #0E2A50;
}

.com-btn-select:hover {
        background-color: #0E2A50;
        color: white;
}

.com-btn-select.active {
        border: 2px solid #0E2A50;
        background-color: #0E2A50;
        color: white;   
}

.bi.bi-pencil-square, .bi.bi-card-list, .bi.bi-trash3-fill {
    font-size: 17px
}

.bi.bi-pencil-square {
    color: #0E2A50;
}

.bi.bi-card-list {
    color: green;
}

.bi.bi-trash3-fill {
    color: red;
}

h1 {
    font-size: 30px;
}

.btn.btn-primary {
    background-color: #0E2A50;
    margin-top: 10px;
    margin-left: 10px;
}

.btn.btn-danger {
    margin-top: 10px;
}

.btn.btn-outline-secondary {
    margin-top: 10px;
}

h1 {
    text-align: center;
}

.form-control {
    margin-bottom: 30px;
}
.row {
    display: flex;
    justify-content: center;
}


