body {
    font-family: 'Poppins', sans-serif;
}


@media screen and (max-width: 894px) {

    .com-footer {
        justify-content: end;
    }

    .com-footer .navbar-brand img {
        margin-bottom: 10px;
    }

    .com-footer .com-footer-text {
        visibility: hidden;
    }


}




.com-nav {
    background-color: #1B152D;
    padding: 20px;
}

.com-footer {
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #1B152D;
}



/* BOTAO PRIMARIO*/
.com-btn-primary {
    color: white;
    background-color: #1B152D;
}

.com-btn-primary:hover {
    background-color: #1ADCFF;
}

/* BOTAO DE REMOVER */
.com-btn-remove{
    color: whitesmoke;
    background-color: rgb(206, 4, 4);
}

.com-btn-remove:hover{
    color: whitesmoke;
    background-color: rgb(143, 0, 0);
}


/* BOTAO DE NAVEGAÇÃO */

.com-btn-select {
    border-radius: 100px;
    border: 2px solid #1B152D;
}

.com-btn-select:hover{
    background-color: #1B152D;
    color: white;
}

.com-btn-select.active {
    border: 2px solid #1B152D;
    background-color: #1B152D;
    color: white;
}

/* LISTA COM USUARIOS */


.com-user li{
    list-style-type: none;
}

.com-user{ 
    padding: 10px;
    border-radius: 10px;
    border:1px solid #1B152D;
}