@model IEnumerable<Commpay.Models.Venda>
@using Commpay.Models.Enums


@{
    ViewData["Title"] = "CommPay | Minhas Comissões";
}
@{
    decimal somaComissoes = 0; 
}

<div class="bubble-banner mb-5">
    <div class="container">
        <div>
            <h1>Você receberá</h1>
        </div>
        <div>
            @foreach (var item in Model.Where(x => x.Vendedor == User.Identity.Name))
            {
                @*decimal comissao = item.Valor_Total * 0.05m;*@
                @*somaComissoes += comissao;   *@             
            }
            <h1>@somaComissoes.ToString("C", new System.Globalization.CultureInfo("pt-BR"))</h1>
        </div>
        <div class="text-muted">
            em comissões!
        </div>
    </div>
</div>

<div class="container">
    <main role="main" class="pb-3">

        <table class="table table-striped">
            <thead class="thead-dark">            
            <tr class="dark-row">
                <th>Número da venda</th>
                <th class="text-center">Valor total</th>
                <th class="text-center">Comissão sobre a venda</th>
            </tr>  
            </thead>
            <tbody>          
                   
                @foreach (var item in Model.Where(x => x.Vendedor == User.Identity.Name))
                {
                    <tr>
                        <td >@item.Id</td>
                        <td class="text-center">@item.Valor_Total.ToString("C", new System.Globalization.CultureInfo("pt-BR"))</td>
                        <td class="text-center">
                            @{
                                //decimal comissao = item.Valor_Total * 0.05m;                                
                                //string comissaoFormatada = comissao.ToString("C", new System.Globalization.CultureInfo("pt-BR"));
                            }
                         @*   @comissaoFormatada*@
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </main>
</div>



