@model Commpay.Models.Produto

@{
    ViewData["Title"] = "CommPay | Cadastro de Produtos";   

}
<head>    
    <link rel="stylesheet" type="text/css" href="/css/style.css">    
</head>

<h1>Cadastro de novo produto</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>                
            </div>
            <div class="form-group">
                <a type="button" asp-action="Index" class="btn btn-outline-secondary">
                <i class="bi bi-caret-left"></i> Voltar 
        </a>
                <input type="submit" value="Cadastrar" class="btn btn-primary"/>             
             </div>
        </form>
    </div>
</div>  

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");            
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js"></script>
        <script>
                        $(document).ready(function() {                    
                            $('#Valor').maskMoney({
                                prefix: 'R$ ', 
                                thousands: '.',
                                decimal: ',', 
                                precision: 2 
                            });
                        });
        </script>

    }
}
